body{
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  color: white;
  text-align: center;
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 0;
}
p{
  color: white;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  margin-top: 0;
}


.container{
  border: 15px solid white;
  background-color: rgb(114, 114, 161);
  padding: 50px 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  margin: 0 auto;
  max-width: 1000px;
}
.contain{
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: auto;
  justify-content: center;
  margin-top: 60px;
}


@media screen and (max-width: 750px) {
  .contain {
      grid-template-columns: 1fr 1fr;
  }

} 

@media screen and( min-width: 751px) and 
( max-width: 999px) {
  .contain {
      grid-template-columns: 1fr 1fr;
  }  
}

  @media (min-width: 1000px) {
      .contain {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }    
  }

.mtn{
  padding: 15px 25px  15px  25px;
  color: black;
  background-color: rgb(234, 234, 24);
  border: none;
  margin-bottom: 8px;
  border-radius:10px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  margin: auto;
  margin-left: 26%;
}

.mtn:hover{
  opacity: 0.6;
}

.mt{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 0px;
  margin: auto;
}

.mtn-1{
  height: 250px;
  width: 200px;
  background-color:  rgb(234, 234, 24);
  color: white;
  border: none;
  margin-bottom: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.surest{
  font-weight: bold;
  font-size: small;
  margin-top: 15px;
}
.footer{
  display: block;
  width: auto;
}
.palm{
  display: inline-block;
  font-weight: bold;
  font-size: medium;
  line-height: 25px;
  
}
.contact{
  display: inline-block;
  font-weight: bold;
  font-size: medium;
  line-height: 25px;
  text-align: right;
  width: 75%
}

.mobile{
  padding: 15px 25px  15px  25px;
  color: black;
  background-color: rgb(89, 236, 89);
  border: none;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  margin-left: 20%;
}

.mobile:hover{
  opacity: 0.6;
}

.mob{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 0px;
  margin: auto;
}

.mobile-1{
  height: 250px;
  width: 200px;
  background-color:  rgb(89, 236, 89);
  color: white;
  border: none;
  margin-bottom: 0px;
  border-radius: 4px;
  font-weight: bold;
  font-size: medium;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.airtel{
  padding: 15px 25px  15px  25px;
  color: rgb(201, 66, 66);
  background-color: white;
  border: none;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  margin-left: 20%;
}

.airtel:hover{
  opacity: 0.6;
}

.air{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 0px;
  margin: auto;
}

.airtel-1{
  height: 250px;
  width: 200px;
  background-color:  rgb(201, 66, 66);
  color: white;
  border: none;
  margin-bottom: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.glo{
  padding: 15px 25px  15px  25px;
  color: white;
  background-color: rgb(153, 228, 153);
  border: none;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  margin-left: 26%;
}
.glo:hover{
 opacity: 0.6;
}

.gl{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 0px;
  margin: auto;
}

.glo-1{
  height: 250px;
  width: 200px;
  background-color:  rgb(153, 228, 153);
  color: white;
  border: none;
  margin-bottom: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text{
  margin-top: 20px;
}

